# User data
.cache/
.vscode/
*.code-workspace


# venv
venv/

# Build files
build/
*.egg-info/

# Pytest cache
test/__pycache__/
thames_tidal_helper/__pycache__/
.pytest_cache/

# Coverage binary output
.coverage
